<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1> A new order has been created: <br> </h1>
  <ul>
    <li> Order no: <%= @order.no %></li><br>
    <li> Pod: <%= @order.pod %></li><br>
    <li> Loading Status: <%= @order.loading_status %></li><br>
    <li> Container Request: <%= @order.pick_up%></li><br>
    <li> Container Received: <%= @order.drop %></li><br>
    <li> Remarks: <%= @order.remarks %></li><br>
    <li>link: https://secure-crag-4260.herokuapp.com/orders/<%= @order.id %></li>
  </ul>
</body>
</html>