
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="col-md-6">
    <%= form_for @order  do |f| %>
    <h3> BASIC INFO</h3>

    <dt><%= f.label :no %></dt>
    <dd><%= f.text_field :no, class: 'form-control' %></dd>

    <dt><%= f.label :pod %></dt>
    <dd><%= f.text_field :pod, class: 'form-control' %></dd>

    <dt><%= f.label :loading_status %></dt>
    <dd><%= f.text_field :loading_status, class: 'form-control' %></dd>

    <dt><%= f.label :container_required %></dt>
    <dd><%= f.text_field :pick_up, class: "date_of_birth"  %></dd>

    <dt><%= f.label :container_received %></dt>
    <dd><%= f.text_field :drop, class: "date_of_birth"  %></dd>

    <dt><%= f.label :closing_date %></dt>
    <dd><%= f.text_field :closing_date, class: "date_of_birth"  %></dd>
    <br>

    <dt><%= f.label :remarks %></dt>
    <dd><%= f.text_field :remarks, class: 'form-control' %></dd>
    <br><br>
    <dd><%= f.submit "Save", class: "btn btn-primary" %>   <%= link_to "Back" , dashboard_path, class: "btn btn-primary", :"data-no-turbolink" => true  %></dd>


  </div>
</div>
<%end%>