<h1> records on price</h1>


<table class= "table table-bordered" style="width:400px;">
  <tr>
    <td>Routes</td>
    <td>Done by..</td>
    <td>Goods</td>
    <td>Rate</td>
    <td>Total</td>
  </tr>
  <tr>
    <% @order.each do |x| %>
    <td><%= x.remarks %></td>
    <td><%= x.transporter%> </td>
    <td><%= x.goods_description %></td>
    <td><%= x.payment_rate %></td>
    <td><%= x.payment_with_gst %></td>
  </tr>
  <%end%>

</table>




